.container-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row
}

.category{
  height: 150px;
  width: 160px;
  border: 1px solid gray;
  margin-top: 10px;
  float: left;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
/* .category:hover{
  background-color: aqua;
} */
.category .selected{
  background-color: brown
}
/* #btn{
 
  padding: 10px;
  margin-right: 20px;
} */

/* input.ng-valid {
  border: solid 1px green;
}

input.ng-invalid {
  border: solid 1px red;
} */

input.error{
  border: solid 1px red;
}