<h1>Welcome to {{title}}!</h1>

<!-- <hello></hello> -->
<div class="container">
  <div class="col-md-6">
<form>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>
 
  </form>
  </div>
</div>
  <!-- <router-outlet></router-outlet> -->
